openapi: 3.0.3
info:
  title: NASA Astronomy Picture of the Day (APOD) Asset EPIC API
  description: The Astronomy Picture of the Day (APOD) API provides access to NASA's popular APOD service, returning the astronomy picture or video of the day along with a brief explanation written by a professional astronomer.
  version: 1.0.0
  contact:
    name: NASA API Support
    url: https://api.nasa.gov
servers:
- url: https://api.nasa.gov
tags:
- name: EPIC
paths:
  /EPIC/api/natural:
    get:
      operationId: getEpicNatural
      summary: NASA Get most recent natural color imagery metadata
      description: Returns metadata for the most recent natural color images.
      parameters:
      - name: api_key
        in: query
        required: true
        schema:
          type: string
          default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EpicImage'
      tags:
      - EPIC
  /EPIC/api/natural/date/{date}:
    get:
      operationId: getEpicNaturalByDate
      summary: NASA Get natural color imagery metadata for a specific date
      parameters:
      - name: date
        in: path
        required: true
        schema:
          type: string
          format: date
      - name: api_key
        in: query
        required: true
        schema:
          type: string
          default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EpicImage'
      tags:
      - EPIC
  /EPIC/api/natural/all:
    get:
      operationId: getEpicNaturalDates
      summary: NASA Get all available natural color imagery dates
      parameters:
      - name: api_key
        in: query
        required: true
        schema:
          type: string
          default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    date:
                      type: string
                      format: date
      tags:
      - EPIC
  /EPIC/api/enhanced:
    get:
      operationId: getEpicEnhanced
      summary: NASA Get most recent enhanced color imagery metadata
      parameters:
      - name: api_key
        in: query
        required: true
        schema:
          type: string
          default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EpicImage'
      tags:
      - EPIC
  /EPIC/api/enhanced/date/{date}:
    get:
      operationId: getEpicEnhancedByDate
      summary: NASA Get enhanced color imagery metadata for a specific date
      parameters:
      - name: date
        in: path
        required: true
        schema:
          type: string
          format: date
      - name: api_key
        in: query
        required: true
        schema:
          type: string
          default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EpicImage'
      tags:
      - EPIC
components:
  schemas:
    EpicImage:
      type: object
      properties:
        identifier:
          type: string
          description: Unique identifier for the image.
        caption:
          type: string
          description: Caption describing the image.
        image:
          type: string
          description: Image filename (without extension).
        version:
          type: string
        date:
          type: string
          format: date-time
        centroid_coordinates:
          type: object
          properties:
            lat:
              type: number
            lon:
              type: number
        dscovr_j2000_position:
          $ref: '#/components/schemas/Position'
        lunar_j2000_position:
          $ref: '#/components/schemas/Position'
        sun_j2000_position:
          $ref: '#/components/schemas/Position'
        attitude_quaternions:
          type: object
          properties:
            q0:
              type: number
            q1:
              type: number
            q2:
              type: number
            q3:
              type: number
    Position:
      type: object
      properties:
        x:
          type: number
        y:
          type: number
        z:
          type: number
