openapi: 3.0.3
info:
  title: NASA EPIC (Earth Polychromatic Imaging Camera) API
  description: >-
    The EPIC API provides access to imagery from NASA's Earth Polychromatic
    Imaging Camera onboard the DSCOVR spacecraft. EPIC captures full-disc
    images of the Earth in multiple wavelengths.
  version: 1.0.0
  contact:
    name: NASA API Support
    url: https://api.nasa.gov
servers:
  - url: https://api.nasa.gov
paths:
  /EPIC/api/natural:
    get:
      operationId: getEpicNatural
      summary: Get most recent natural color imagery metadata
      description: Returns metadata for the most recent natural color images.
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EpicImage'
  /EPIC/api/natural/date/{date}:
    get:
      operationId: getEpicNaturalByDate
      summary: Get natural color imagery metadata for a specific date
      parameters:
        - name: date
          in: path
          required: true
          schema:
            type: string
            format: date
        - name: api_key
          in: query
          required: true
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EpicImage'
  /EPIC/api/natural/all:
    get:
      operationId: getEpicNaturalDates
      summary: Get all available natural color imagery dates
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    date:
                      type: string
                      format: date
  /EPIC/api/enhanced:
    get:
      operationId: getEpicEnhanced
      summary: Get most recent enhanced color imagery metadata
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EpicImage'
  /EPIC/api/enhanced/date/{date}:
    get:
      operationId: getEpicEnhancedByDate
      summary: Get enhanced color imagery metadata for a specific date
      parameters:
        - name: date
          in: path
          required: true
          schema:
            type: string
            format: date
        - name: api_key
          in: query
          required: true
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EpicImage'
components:
  schemas:
    EpicImage:
      type: object
      properties:
        identifier:
          type: string
          description: Unique identifier for the image.
        caption:
          type: string
          description: Caption describing the image.
        image:
          type: string
          description: Image filename (without extension).
        version:
          type: string
        date:
          type: string
          format: date-time
        centroid_coordinates:
          type: object
          properties:
            lat:
              type: number
            lon:
              type: number
        dscovr_j2000_position:
          $ref: '#/components/schemas/Position'
        lunar_j2000_position:
          $ref: '#/components/schemas/Position'
        sun_j2000_position:
          $ref: '#/components/schemas/Position'
        attitude_quaternions:
          type: object
          properties:
            q0:
              type: number
            q1:
              type: number
            q2:
              type: number
            q3:
              type: number
    Position:
      type: object
      properties:
        x:
          type: number
        'y':
          type: number
        z:
          type: number
