openapi: 3.0.3
info:
  title: NASA Astronomy Picture of the Day (APOD) Asset DONKI API
  description: The Astronomy Picture of the Day (APOD) API provides access to NASA's popular APOD service, returning the astronomy picture or video of the day along with a brief explanation written by a professional astronomer.
  version: 1.0.0
  contact:
    name: NASA API Support
    url: https://api.nasa.gov
servers:
- url: https://api.nasa.gov
tags:
- name: DONKI
paths:
  /DONKI/CME:
    get:
      operationId: getCoronalMassEjections
      summary: NASA Get coronal mass ejection events
      description: Returns coronal mass ejection (CME) events within a date range.
      parameters:
      - name: startDate
        in: query
        required: false
        description: Start date (YYYY-MM-DD). Defaults to 30 days prior.
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        required: false
        description: End date (YYYY-MM-DD). Defaults to today.
        schema:
          type: string
          format: date
      - name: api_key
        in: query
        required: true
        schema:
          type: string
          default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CoronalMassEjection'
      tags:
      - DONKI
  /DONKI/CMEAnalysis:
    get:
      operationId: getCmeAnalysis
      summary: NASA Get CME analysis data
      description: Returns analysis data for coronal mass ejection events.
      parameters:
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: mostAccurateOnly
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: speed
        in: query
        required: false
        schema:
          type: integer
      - name: halfAngle
        in: query
        required: false
        schema:
          type: integer
      - name: catalog
        in: query
        required: false
        schema:
          type: string
          enum:
          - ALL
          - SWRC_CATALOG
          - JANG_ET_AL_CATALOG
      - name: api_key
        in: query
        required: true
        schema:
          type: string
          default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CmeAnalysis'
      tags:
      - DONKI
  /DONKI/GST:
    get:
      operationId: getGeomagneticStorms
      summary: NASA Get geomagnetic storm events
      parameters:
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: api_key
        in: query
        required: true
        schema:
          type: string
          default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GeomagneticStorm'
      tags:
      - DONKI
  /DONKI/FLR:
    get:
      operationId: getSolarFlares
      summary: NASA Get solar flare events
      parameters:
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: api_key
        in: query
        required: true
        schema:
          type: string
          default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SolarFlare'
      tags:
      - DONKI
  /DONKI/SEP:
    get:
      operationId: getSolarEnergeticParticles
      summary: NASA Get solar energetic particle events
      parameters:
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: api_key
        in: query
        required: true
        schema:
          type: string
          default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SolarEnergeticParticle'
      tags:
      - DONKI
  /DONKI/MPC:
    get:
      operationId: getMagnetopauseCrossings
      summary: NASA Get magnetopause crossing events
      parameters:
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: api_key
        in: query
        required: true
        schema:
          type: string
          default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
      tags:
      - DONKI
  /DONKI/IPS:
    get:
      operationId: getInterplanetaryShocks
      summary: NASA Get interplanetary shock events
      parameters:
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: location
        in: query
        required: false
        schema:
          type: string
          enum:
          - Earth
          - MESSENGER
          - STEREO A
          - STEREO B
      - name: catalog
        in: query
        required: false
        schema:
          type: string
          enum:
          - ALL
          - SWRC_CATALOG
          - WINSLOW_MESSENGER_ICME_CATALOG
      - name: api_key
        in: query
        required: true
        schema:
          type: string
          default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
      tags:
      - DONKI
  /DONKI/notifications:
    get:
      operationId: getDonkiNotifications
      summary: NASA Get space weather notifications
      parameters:
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - all
          - FLR
          - SEP
          - CME
          - IPS
          - MPC
          - GST
          - RBE
          - report
      - name: api_key
        in: query
        required: true
        schema:
          type: string
          default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Notification'
      tags:
      - DONKI
components:
  schemas:
    GeomagneticStorm:
      type: object
      properties:
        gstID:
          type: string
        startTime:
          type: string
          format: date-time
        allKpIndex:
          type: array
          items:
            type: object
            properties:
              observedTime:
                type: string
                format: date-time
              kpIndex:
                type: number
              source:
                type: string
    CmeAnalysis:
      type: object
      properties:
        time21_5:
          type: string
          format: date-time
        latitude:
          type: number
        longitude:
          type: number
        halfAngle:
          type: number
        speed:
          type: number
        type:
          type: string
        isMostAccurate:
          type: boolean
    SolarFlare:
      type: object
      properties:
        flrID:
          type: string
        instruments:
          type: array
          items:
            type: object
            properties:
              displayName:
                type: string
        beginTime:
          type: string
          format: date-time
        peakTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        classType:
          type: string
        sourceLocation:
          type: string
        activeRegionNum:
          type: integer
    CoronalMassEjection:
      type: object
      properties:
        activityID:
          type: string
        catalog:
          type: string
        startTime:
          type: string
          format: date-time
        sourceLocation:
          type: string
        activeRegionNum:
          type: integer
        note:
          type: string
        instruments:
          type: array
          items:
            type: object
            properties:
              displayName:
                type: string
        cmeAnalyses:
          type: array
          items:
            $ref: '#/components/schemas/CmeAnalysis'
    SolarEnergeticParticle:
      type: object
      properties:
        sepID:
          type: string
        eventTime:
          type: string
          format: date-time
        instruments:
          type: array
          items:
            type: object
            properties:
              displayName:
                type: string
    Notification:
      type: object
      properties:
        messageType:
          type: string
        messageID:
          type: string
        messageURL:
          type: string
          format: uri
        messageIssueTime:
          type: string
          format: date-time
        messageBody:
          type: string
